/*html, body {
    background: #F7F5E6;
    height: 100%;
    margin: 0;
    padding: 0;
    width: 100%;
}*/

.slider {
   /* margin: 0 auto;
    max-width: 940px; */
}

.slide_viewer {
    height: 41em;//340px;
    overflow: hidden;
    position: relative;
}

.slide_group {
   height: 100%;
    position: relative;
    width: 100%;
}

.slide {
    display: none;
    height: 100%;
    position: absolute;
    width: 100%;
}

.slide:first-child {
    display: block;
    background-color: rgba(0, 0, 0, 0.2);
}

.slide:nth-of-type(1) {
    background-color: rgba(0, 0, 0, 0.2);
   /* background: #D7A151;*/
}

.slide:nth-of-type(2) {
    background-color: rgba(0, 0, 0, 0.2);
   /* background: #F4E4CD;*/
}

.slide:nth-of-type(3) {
    background-color: rgba(0, 0, 0, 0.2);
    /*background: #C75534;*/
}

.slide:nth-of-type(4) {
    background-color: rgba(0, 0, 0, 0.2);
   /* background: #D1D1D4; */
}

.slide_buttons {
    left: 0;
    position: absolute;
    right: 0;
    text-align: center;
    bottom: 67px;
}

a.slide_btn {
    color: #474544!important;
    font-size: 42px;
    margin: 0 0.175em;
    -webkit-transition: all 0.4s ease-in-out;
    -moz-transition: all 0.4s ease-in-out;
    -ms-transition: all 0.4s ease-in-out;
    -o-transition: all 0.4s ease-in-out;
    transition: all 0.4s ease-in-out;
}

.slide_btn.active, .slide_btn:hover {
    color: #428CC6!important;
    cursor: pointer;
}

.directional_nav {
    height: 50px;
    margin: 0 auto;
   /* max-width: 940px;*/
    position: relative;
   /* top: -185px;*/
    bottom: 311px;
    width: 100%;
}

.previous_btn {
    bottom: 0;
    left: 100px;
    margin: auto;
    position: absolute;
    top: 0;
}

.next_btn {
    bottom: 0;
    margin: auto;
    position: absolute;
    right: 100px;
    top: 0;


}

.previous_btn, .next_btn {
    cursor: pointer;
    height: 65px;
    opacity: 0.5;
    width: 65px;
    top: 50%;
    padding: 0px;
    border-radius: 50%;
    transform: translateY(-50%);
    background: rgba(0, 0, 0, 0.4);
    -webkit-transition: .3s all ease-in-out;
    -o-transition: .3s all ease-in-out;
    transition: .3s all ease-in-out;
    line-height: 0;
    text-align: center;
    font-size: 25px;
    color: #fff;
    border: 1px solid white;
}

.previous_btn:hover, .next_btn:hover {
    opacity: 1;
}

.icon-keyboard_arrow_left, .icon-keyboard_arrow_right{
    position: absolute;
    line-height: 0;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
@media only screen and (max-width: 767px) {
    .previous_btn {
        left: 50px;
    }
    .next_btn {
        right: 50px;
    }
}