@media (max-width: 991px) {
    .logo{
        width: 30%!important;
    }
}
@media (max-width: 767px) {
    .title{
        font-size: 2.6rem !important;
    }
}
@media (min-width: 360px) and (max-width: 360px) {
   /* header{
        width: 95% !important;
    }*/
}
@media (min-width: 1000px) {
    .title{
        font-size: 3rem !important;
    }
}
.logo-payement{
    width: 18px
}

.blue{
    background-color: #000fea !important;
    border-color: #000fea !important;
}
.black{
    color: black !important;
}
header.site-navbar{
    background: #f8f9fa;
    padding-top: 3px !important;
    padding-bottom: 0px !important;
    position:fixed;
    box-shadow: 0 1px 6px 0 rgba(32,33,36,.28);
}
.article-img{
    width: 25px!important;
    height: auto;
}
.box-sh{
    border: 1px solid rgba(0, 0, 0, 0.125);
    box-shadow: 0px 2px 4px rgba(0,0,0,0.135);
}
.box-sh:hover{
    box-shadow: 1px 2px 10px rgba(0,0,0,0.135);
}
.h-entry{
    padding: 10px!important;
    border: 1px solid rgba(0,0,0,0.08) !important;
    min-height: 331px!important;
    box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.1)!important;
}
.h-entry:hover, .card-mbg:hover{
    box-shadow: 0px 3px 10px rgba(0, 0, 0, 0.3)!important;
}
.pd-b-0{
    padding-bottom: 0!important;
}
.pd-t-0{
    padding-top: 0!important;
}
.pd-t-10{
    padding-top: 10px!important;
}
.pd-b-10{
    padding-bottom: 10px!important;
}